appmode
bash_kernel
git+https://github.com/boileaum/bookbook.git@master
bs4
folium
geocoder
geopandas
h5py
IPython
ipywidgets
jinja2
jupyter_contrib_nbextensions
latex
markdown
numpy
pandas
pytest
rise
seaborn
pyyaml
wordcloud
